@page
@model Quokka_App.Pages.Account.LeaderRegisterModel
@{
    ViewData["Title"] = "Leader Register";
    Layout = "~/Pages/LeaderQuokka_Layout.cshtml";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Input.SchoolID"></label>
        <input asp-for="Input.SchoolID" class="form-control" />
        <span asp-validation-for="Input.SchoolID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    @*<div class="form-group">
        <label asp-for="Input.AccountType"></label>
        <select id="AccountType" name="AccountType" asp-for="Input.AccountType">
            <option value="Senior Leader">Senior Leader</option>
            <option value="Leader">Leader</option>
            <option value="Student" selected="selected">Student</option>
        </select>
    </div>*@

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
