@page
@model LogoutModel

@{ ViewData["Title"] = "Log out";
                Layout = "/Pages/Shared/_Layout.cshtml"; }

<!--Sign out page-->

<div>
    <p style="color:red"> You are logged out. Please log in again </p>

    <div class="col-md-10 offset-md-1">
        <section>
            <div class="login-form-icon">
                <img src="https://www.internationalstudents.sa.edu.au/wp-content/uploads/vfb/logo-Paralowie.gif" alt="Paralowie R-12" style="width:300px;height:320px;">
            </div>
            <form id="account" action="/Home/Index" method="post">
                <button type="submit"> Log In </button>
            </form>
        </section>
    </div>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
