@model Quokka_App.Model.AspNetUsers
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager

@{
    ViewData["Title"] = "Edit";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!--Leader to edit assigned leader-->
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AccountType" class="control-label"></label>
        <input asp-for="AccountType" class="form-control" readonly />
        <span asp-validation-for="AccountType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LeaderAssigned" class="control-label"></label>
        <input asp-for="LeaderAssigned" class="form-control" />
        <label asp-for="LeaderAssigned" class="control-label">Assign a leader </label>
        <select id="LeaderAssigned" name="LeaderAssigned">

            <!--Iterate the table and only show available leaders from DB-->>
            @foreach (var teacher in UserManager.Users)
            {
                teacherName = teacher.FirstName;
                @if (teacher.AccountType.Equals("Leader"))
                {
                    <option value="@teacherName">@Html.DisplayFor(modelItem => teacher.FirstName)</option>
                }
            }

        </select>
        <span asp-validation-for="LeaderAssigned" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
