@page
@model LoginModel

@{
    ViewData["Title"] = "Log out";
    Layout = "~/Areas/Identity/Pages/Quokka_Layout.cshtml";
}

<div class="col-md-10 offset-md-1">
        You are logged out.
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
