@model Quokka_App.Model.StudentReports
@using Microsoft.AspNetCore.Identity
@using Quokka_App.Model
@inject UserManager<WebAppUser> UserManager

@{ ViewData["Title"] = "Student Page";
                Layout = "/Pages/Shared/_Layout.cshtml"; }

<!--Display confirmation page to students.-->

<div style="text-align:center;">
    <div class="nameContainer">
        <h2>
            Thank you! @ViewBag.FirstName
        </h2>
        <h3>Your Wellbeing Leader will contact you shortly.</h3>
        <img src="~/lib/images/1happy.png" />
    </div>
    <br />

    <div>
        <a asp-action="StudentHome">Back to Home</a>
    </div>
</div>
