@model StudentReports
@inject UserManager<WebAppUser> UserManager

@{ ViewData["Title"] = "Student Page";
   Layout = "/Pages/Shared/_Layout.cshtml"; 
 }

<!--Student's default page. User name and emergeny contact list displays on the top and student allows to select their feelings-->
<form asp-action="StudentHome">
    <!--Emergency Contacts-->
    <a href="/StudentEmergencyList" class="sosContainer">
        <img src="~/lib/images/sos.png" style="width:30px; height:30px; vertical-align: middle" />
        Click here to seek urgent help
    </a>

    <!--User name displays-->
    <div class="nameContainer">
        <h3>
            Hi @UserManager.GetUserAsync(User).Result.FirstName<br />
            How are you feeling today?
        </h3>
    </div>
    <div class="emojiContainer">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row" id="emojiRow">
            <div class="col s6">
                <input type="submit" asp-for="Feeling" class="form-control" value="Happy"
                       style="  background-image: url('../lib/images/1happy.png');
                                background-color:rgba(76,187,23,0.5);
                                text-align: left;
                                margin: 10px;
                                background-position: right;
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 120px;
                                width: 90%" />
            </div>
            <div class="col s6">
                <input type="submit" asp-for="Feeling" class="form-control" value="Okay"
                       style="  background-image: url('../lib/images/2okay.png');
                                background-color:rgba(76,187,23,0.5);
                                text-align: left;
                                margin: 10px;
                                background-position: right;
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 120px;
                                width: 90%" />
            </div>
        </div>
        <div class="row" id="emojiRow">
            <div class="col s6">
                <input type="submit" asp-for="Feeling" class="form-control" value="Annoyed"
                       style="background-image: url('../lib/images/3annoyed.png');
                               background-color:rgba(255,120,0,0.5);
                            text-align: left;
                            margin: 10px;
                            background-position: right;
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 120px;
                            width: 90%" />
            </div>
            <div class="col s6">
                <input type="submit" asp-for="Feeling" class="form-control" value="Frustrated"
                       style="  background-image: url('../lib/images/4frustrated.png');
                            background-color:rgba(255,120,0,0.5);
                            text-align: left;
                            margin: 10px;
                            background-position: right;
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 120px;
                            width: 90%" />
            </div>
        </div>


        <div class="row" id="emojiRow">
            <div class="col s6">
                <input type="submit" asp-for="Feeling" class="form-control" value="Angry"
                       style="  background-image: url('../lib/images/5angry.png');
                                background-color: rgba(230, 0, 0, 0.2);
                                text-align: left;
                                margin: 10px;
                                background-position: right;
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 120px;
                                width: 90%" />

            </div>
            <div class="col s6">
                <input type="submit" asp-for="Feeling" class="form-control" value="I need help"
                       style="  background-image: url('../lib/images/6help.png');
                                 background-color: rgba(230, 0, 0, 0.2);
                                text-align: left;
                                margin: 10px;
                                background-position: right;
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 120px;
                                width: 90%" />

            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}