@model IEnumerable<StudentReports>
@inject UserManager<WebAppUser> UserManager

@{ ViewData["Title"] = "Leader";
    Layout = "/Pages/Shared/_Layout.cshtml";
    int notificationCount = 0;
 }

<!--Iterate DB model to show how many notifications are there in a leader's account from student-->
@*@foreach (var user in UserManager.Users)
{
    if (user.LeaderAssigned != null)
    {
        assignedleader = user.LeaderAssigned;

        if (assignedleader.Equals(((await UserManager.GetUserAsync(User)).FirstName)))
        {
            foreach (var notification in Model)
            {
                if (user.UserName == notification.StudentID)
                {

                    notificationCount++;
                }
            }
        }
    }
}*@

<!---Leader's landing Page-->
<form asp-action="Create" class="leaderPageForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row mb-3">
        <div class="col-md-12">
            <h3>
                Hi @UserManager.GetUserAsync(User).Result.FirstName<br />
                You have total @notificationCount notifications(s).
            </h3>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-12">
            <a asp-action="ViewNotification" class="btn btn-primary btn-lg leaderBtn" onclick="myFunction()">
                <i class="far fa-bell"></i>
                View Notifications
            </a>
        </div>
    </div>

    <!-- 
    <div class="row mb-3">
        <div class="col-md-12">
            <a asp-action="ViewWeekly" class="btn btn-primary btn-lg leaderBtn">
                <i class="fas fa-user-clock"></i>
                View Weekly Status
            </a>
        </div>
    </div>
    -->
    <div class="row mb-3">
        <div class="col-md-12">
            <a asp-action="ViewMonthly" class="btn btn-primary btn-lg leaderBtn">
                <i class="far fa-calendar-alt"></i>
                View Monthly Status
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <a asp-action="ViewAllStudent" class="btn btn-primary btn-lg leaderBtn">
                <i class="fas fa-users"></i>
                View All Students
            </a>
        </div>
    </div>

</form>

<script>
    function myFunction() {
        @notificationCount = 0;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
