@page
@model Quokka_App.Pages.LeaderViewNotificationModel
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager

@{
    ViewData["Title"] = "Leader";

}


<form method="post">
LEADER NOTIFICATION PAGE PLACEHOLDER
</form>