@page
@model Quokka_App.Pages.LeaderMonthlyStatusModel
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager

@{
    ViewData["Title"] = "LeaderMonthlyStatus";

}


<form method="post">
    <div style="text-align:center;">View Weekly Status</div>
    <ul>
        <!---Data-->
    </ul>
    
</form>