@page
@model Quokka_App.Pages.LeaderPageModel
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager

@{
    ViewData["Title"] = "LeaderPage";

}


<form method="post" class="leaderPageForm">
    <div class="nameContainer">
        <h3>
            Hi, @UserManager.GetUserAsync(User).Result.FirstName <br />
            You have total [  ] notifications(s).
        </h3>
        <hr style="width:70%;" />
    </div>
    <div>
        <a href="/LeaderViewNotification" class="btn btn-primary leaderBtn">View Notification</a><br />
        <a href="/LeaderWeeklyStatus" class="btn btn-primary leaderBtn">View Weekly Status</a> <br />
        <a href="/LeaderMonthlyStatus" class="btn btn-primary leaderBtn">View Monthly Status</a><br />
        <a href="/LeaderList" class="btn btn-primary leaderBtn">View Student</a><br />
    </div>
</form>