@page
@model Quokka_App.Pages.StudentTextModel
@{
    ViewData["Title"] = "StudentText";
}


<form method="post">
    <h3>You have selected [].<br />
        Why have you chosen this?</h3>
    <textarea id="stutxt" name="StudentText" rows="4" cols="50" placeholder="Write your message here."></textarea>
    <br />
    <a href="/StudentRequest" class="btn btn-primary">Next</a>
</form>