@page
@model Quokka_App.Pages.StudentRequestModel
@{
}


<form method="post">
    <p>Would you like to see a wellbeing leader?</p>
    <input type="radio" id="Stu_Yes" name="meeting" value="Yes">
    <label for="Yes">Yes</label><br>
    <input type="radio" id="Stu_No" name="meeting" value="No">
    <label for="No">No</label><br>
    <input type="radio" id="Stu_Unsure" name="meeting" value="Unsure">
    <label for="Unsure">Unsure</label>
</form>