@page
@model Quokka_App.Pages.StudentPageModel
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager
@{
    ViewData["Title"] = "StudentPage";
}


<form method="post">
    <div>How are you feeling today @UserManager.GetUserAsync(User).Result.FirstName?</div>
    <a href="/Studenttext" class="btn btn-primary">Happy Button</a>
    <a href="/Studenttext" class="btn btn-primary">Okay</a>
    <a href="/Studenttext" class="btn btn-primary">Annoyed</a>
    <a href="/Studenttext" class="btn btn-primary">Frustrated</a>
    <a href="/Studenttext" class="btn btn-primary">Angry</a>
    <a href="/Studenttext" class="btn btn-primary">I need help</a>
</form>