@page
@model Quokka_App.Pages.StudentPageModel
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager
@{
    ViewData["Title"] = "StudentPage";
}


<form method="post">

    <!--Emergency Contacts-->
    <a href="/StudentEmergencyList" class="sosContainer">
        <img src="~/lib/images/sos.png" style="width:30px; height:30px; vertical-align: middle" />
        Click here to seek urgent help
    </a>

    <div class="nameContainer">
        <h3>
            Hi, @UserManager.GetUserAsync(User).Result.FirstName <br />
            How are you feeling today?
        </h3>
    </div>

    <div class="emojiContainer">
        <div class="row">
            <div class="col s6">
                <a href="/Studenttext" class="btn btn-primary emoji1">
                    <img src="~/lib/images/1happy.png" /><br />Happy
                </a>
            </div>
            <div class="col s6">
                <a href="/Studenttext" class="btn btn-primary emoji1">
                    <img src="~/lib/images/2okay.png" /><br />Okay
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <a href="/Studenttext" class="btn btn-primary emoji2">
                    <img src="~/lib/images/3annoyed.png" /><br /> Annoyed
                </a>
            </div>
            <div class="col s6">
                <a href="/Studenttext" class="btn btn-primary emoji2">
                    <img src="~/lib/images/4frustrated.png" /><br />Frustrated
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <a href="/Studenttext" class="btn btn-primary emoji3">
                    <img src="~/lib/images/5angry.png" /> <br />Angry
                </a>
            </div>
            <div class="col s6">
                <a href="/Studenttext" class="btn btn-primary emoji3">
                    <img src="~/lib/images/6help.png" /> <br />I need help
                </a>
            </div>
        </div>
    </div>

</form>

