@page
@model Quokka_App.Pages.StudentEmergencyModel
@{
    ViewData["Title"] = "Emergency Contacts";
}


<form method="post">
    <div class="emergencyHeader">
        <img src="~/lib/images/sos.png" style="width: 50px; height:50px"/>
        <p>If the matter is an emergency and outside of school hours,
        please contact one of the following options. </p>
        <hr /><br />
<a href="C:\Users\nicod\Desktop\reclone\WebApplication1\Pages\StudentPage.cshtml">C:\Users\nicod\Desktop\reclone\WebApplication1\Pages\StudentPage.cshtml</a>
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>Contacts</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kids Help Line</td>
                <td><a href="tel:+611800551800">1800 55 1800</a></td>
            </tr>
            <tr>
                <td>Youth Beyond Blue</td>
                <td><a href="tel:+611300224635">1300 22 4635</a></td>
            </tr>
            <tr>
                <td>Homelessness Gateway</td>
                <td><a href="tel:+611800003308">1800 003 308</a></td>
            </tr>
            <tr>
                <td>Suicide Prevention Line</td>
                <td><a href="tel:+611300659467">1300 659 467</a></td>
            </tr>
            <tr>
                <td>Lifeline</td>
                <td><a href="tel:+61131114">13 11 14</a></td>
            </tr>
            <tr>
                <td>SA Police</td>
                <td><a href="tel:+61131444">131 444</a></td>
            </tr>
            <tr>
                <td>Emergency</td>
                <td><a href="tel:+61000">000</a></td>
            </tr>
        </tbody>
    </table>
</form>