/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*CSS for all application 
    MENU
    1. Log in Page
    2. Students
        2.1 Student Page (feeling selection)
        2.2 Student Request
        2.3 Student Emergency List
    3. Leaders
        3.1 Leader Page (main landing page)
        3.2 Leader View Notification page
        3.3 Leader Weekly Status
        3.4 Leader Monthly Status
        3.5 Leader List (view all students)
    4. Footer
    5. Apply to all pages
*/

/*---------------------
    1. Log in Page
    ------------------------*/
/*login form top tab design*/
div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*center login form*/
div.login-form-icon {
    text-align: center;
}

/*---------------------
    2. Students
    2.1 Student Page (feeling selection)
    ------------------------*/
img {
    width: 50px;
    height: 50px;
}

.sosContainer {
    color: rgb(255, 38, 38);
    text-decoration: none;
}

.nameContainer {
    margin-top: 20px;
}

.emojiContainer {
    background: rgb(227, 227, 227);
    border-radius: 5px;
    text-align: center;
}

#emojiRow {
    margin: 0px;
}

.emojiContainer input {
    background: transparent;
    border: none;
}

#emoji1 {
    background: rgb(255, 241, 133);
    margin: 20px;
}

#emoji2 {
    background: rgb(255, 192, 46);
    margin: 20px;
}

#emoji3 {
    background: rgb(255, 153, 145);
    margin: 20px;
}

/*---------------------
    2.2 Student Request
    ------------------------*/
.studentRequestForm1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.studentRequestForm2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.requestContainer input {
    background: transparent;
    border: none;
}

/*---------------------
    2.3 Student Emergency List
    ------------------------*/
.emergencyHeader {
    text-align: center;
}

.emergencyHeader p {
    color: rgb(255, 38, 38);
    text-align: center;
}

form {
    width: 100%;
}

/*---------------------
    3. Leaders
    3.1 Leader Page (main landing page)
------------------------*/
.leaderPageForm {
    text-align: center;
}

.leaderBtn {
    margin-top: 10px;
    width: 60%;
    height: 40px;
    background-color: rgb(156, 156, 156);
    border-style: none;
}
/*---------------------
    3.2 Leader View Notification page
    ------------------------*/
.notificationArea{
    width : 70%;
    background-color: aliceblue;
    margin: 20px;
    border-radius:10px;
}
/*---------------------
    4. Footer
------------------------*/
html {
    font-size: 14px;
    font-family: Arial;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/*---------------------
     5. Apply to all pages
    ------------------------*/

/*Table style*/
table, th, td {
    border: none;
}

table {
    width: 100%;
    display: table;
}

    table.bordered > thead > tr, table.bordered > tbody > tr {
        border-bottom: 1px solid #d0d0d0;
    }

    table.striped > tbody > tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    table.striped > tbody > tr > td {
        border-radius: 0px;
    }

    table.highlight > tbody > tr:hover {
        background-color: #f2f2f2;
    }

    table.centered thead tr th, table.centered tbody tr td {
        text-align: center;
    }

thead {
    border-bottom: 2px solid #d0d0d0;
    font-size: 14px;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
